@charset "utf-8";

#contenedor {
	width:1024px;
	border:1px solid black;
	border-radius: 15px;
	margin: auto;
	background-color: #8787c4;
	box-shadow: 5px 5px 5px black;
}
#cabecera {
	width:1024px;
	border-radius:15px 15px 0px 0px;
	height:150px;
	background-image:url("banner.jpg");
	background-size:1024px 150px;
	border-bottom:2px solid black;
}	

#logo {
	float:left;
	width:120px;
	height:120px;
	background-image:url("logo.png");
	background-size:120px 120px;
	margin-left:20px;
	margin-top:15px;
}

#titulo {
	float:left;
	font-family:Forte;
	font-size:60px;
	font-weight:300;
	margin-top:40px;
	margin-left:15px;
	color:#4ee7fd;
	text-shadow:7px 7px 1px black;
}
#login {
	float:right;
	margin-top:20px;
	margin-right:20px;
	color: black;
	font-weight:bold;
	background-color:#a9a9a9;
}
@font-face{
	font-family: Forte;
	src: url("../fonts/giftwrap.ttf");
}

#bloqueizquierda{
	float:left;
	width:220px;
	margin-left:10px;

}

.caja{
	width:200px;
	border-radius:5px;
	border:1px solid black;
	box-shadow:5px 5px 5px black;
	margin-top:15px;
	background-color:#cccccc;
}

#bloquederecha{
	float:right;
	width:200px;
	background:10px;
	margin-right:20px;
}

#bloquecentro{
	float:left;
	width:540px;
	border:1px solid black;
	border-radius:5px;
	box-shadow:5px 5px 5px black;
	margin-top:15px;
	margin-left:5px;
	padding-left:5px;
	background-color:#cccccc;
	min-height:600px;
}

#articulo{
	text-align:justify;
	margin:auto;
	width:535px;
	
}

#pie{
	clear:both;
	text-align: center;
	padding-top:10px;
}

h1{
	font-size:40px;
	margin-left:5px;
	font-family:Forte;
	margin-top:5px;
	margin-left:10px;
}

h2{
	font-size:20px;
	margin-left:5px;
	font-family:Forte;
}

#artistaselec{
	margin-bottom:5px;
	margin-left:5px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
	font-style:italic;
	color:black;
}

#artistasemana{
	width:175px;
	height:175px;
	background-image:url("zakk.jpg");
	background-size:175px 175px;
	margin:auto;
}

#artistasemtexto{
	text-align:center;
}

#fotos{
		-webkit-column-count:3;
		-webkit-column-width:160px;
		-moz-column-count:3;
		-moz-column-width:160px
		margin-left:12px;
		padding-left:12px;
	}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8, #pic9{
		width:140px;
		height:140px;
		background-size: 140px 140px;
		margin-bottom: 12px;
	}


#pic1{
	background-image:url("dave.jpg");
}

#pic2{
	background-image:url("dimebag.jpg");
}

#pic3{
	background-image:url("jimmy.jpg");
}

#pic4{
	background-image:url("kerry.jpg");
}

#pic5{
	background-image:url("kirk.jpg");
}

#pic6{
	background-image:url("mick.jpg");
}

#pic7{
	background-image:url("rob.jpg");
}

#pic8{
	background-image:url("tony.jpg");
}

#pic9{
	background-image:url("zakk2.jpg");
}


